body {
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}



.text {
    font-family: relevate;
}


/*--------HEADER-------*/
.header-logo {
color: var(--NAVY-BLUE, #2E2F42);
    font-family: Raleway,sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
.header-logo-blue {
color: var(--IRIS, #4D5AE5);
}
.header-menu-link {
color: var(--NAVY-BLUE, #2E2F42);

    /* Body Medium */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
}

 .header-menu-link:hover,
 .header-menu-link:focus {
     color: #404bbf;
 } 

  .button {
      cursor: pointer;
  }
   .address {
    font-style: normal;
   }

    /*--------HEADER-------*/



    /*--------HERO1-------*/

.hero {
    background-color: var(--NAVY-BLUE, #2E2F42);
}

    .hero-title {
    color: var(--WHITE, #FFF);
        text-align: center;
    
        /* Header 1 */
        font-family: Roboto;
        font-size: 56px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.07;
        /* 107.143% */
        letter-spacing: 1.12px;
    }

    .hero-btn {
    color: var(--WHITE, #FFF);
    
        /* Button Text */
        font-family: Roboto, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        /* 150% */
        letter-spacing: 0.64px;
        
        cursor: pointer;
        
    }

        .header-menu-link:hover,
        .header-menu-link:focus {
            background-color: #404bbf;
        }
    
        
        /*--------HERO1-------*/


     /*--------POSITION2-------*/
    .position {
    background-color: #FFF;
    }
        .position-title {

        }

    .position-list {}

    .position-item {}

    .position-subtitle-item {
        color: #2E2F42;
        
            /* Header 3 */
            font-family: Roboto;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 1.2;
            /* 120% */
            letter-spacing: 0.02em;
            
    }

    .position-item-text {
        color: var(--SLATE, #434455);
        
            /* Body */
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            /* 150% */
            letter-spacing: 0.32px;
    }

/*--------POSITION2-------*/

/*--------OUR-TEAM3-------*/


.our-team {
background-color: #F4F4FD;
}

.our-team-title {
color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;

    /* Header 2 */
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.our-team-list {
    background-color: #FFFFFF;
}


.our-team-item {}


.our-team-image {}


.our-team-subtitle {
    color: var(--NAVY-BLUE, #2E2F42);
        text-align: center;
    
        /* Header 3 */
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        /* 120% */
        letter-spacing: 0.4px;
}


.our-team-text {
    color: var(--SLATE, #434455);
        text-align: center;
    
        /* Body */
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 150% */
        letter-spacing: 0.32px;
}


/*--------OUR-TEAM3-------*/


/*--------OUR-PORTFOLIO4-------*/

.our-portfolio {}

.our-portfolio-title {
    color: var(--NAVY-BLUE, #2E2F42);
        text-align: center;
    
        /* Header 2 */
        font-family: Roboto;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.11;
        /* 111.111% */
        letter-spacing: 0.72px;
        text-transform: capitalize;
}

.our-portfolio-list {

}

.our-portfolio-item {}

.our-portfolio-image {}

.our-portfolio-subtitle {
    color: var(--NAVY-BLUE, #2E2F42);
    
        /* Header 3 */
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        /* 120% */
        letter-spacing: 0.4px;
}

.our-portfolio-text {
    color: var(--SLATE, #434455);
    
        /* Body */
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 150% */
        letter-spacing: 0.32px;
}
/*--------OUR-PORTFOLIO4-------*/



/*--------FOOTER5-------*/

.footer {
    background-color: var(--NAVY-BLUE, #2E2F42);
}


.footer-logo {
color: #F4F4FD;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
}


.footer-logo-blue {
    color: #4D5AE5;
        font-family: Raleway, sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 21px;
        /* 116.667% */
        letter-spacing: 0.54px;
        text-transform: uppercase;
}


.footer-text {
    color: var(--CLOUD, #F4F4FD);
    
        /* Body */
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 150% */
        letter-spacing: 0.32px;
}


/*--------FOOTER5-------*/
